.styleCircle{
  list-style-type: circle;
}
.styleSquare{
  list-style-type: square;
}
.styleDisc{
  list-style-type: disc;
}
.styleNone{
  list-style-type: none;
}

.listLink{
  display: inline-block;
}