.sidenav{
  background-color: #dceffc;
  width: 60%;
  height: fit-content;
}

.linkDescriptionSide{
  color: #777;
  display: inline-block;
  margin-left: 10px;
  font-size: 80%;
}
.linkDescriptionBelow{
  color: #252525;
  margin-top: 5px;
}

.sectionDescription{
  color:black;
  margin: 0 25px 0 25px
}

.menuLink{
  color: #00459a;
  font-weight: 500;
}
.sideNavLI{
  margin-top: -10px;
}

.textBold{
  font-weight: bold;
}

.sideNavTitle{
  margin-left: 15px;
}