#pageHeader {
  width: 100%;
  background-color: #303030;
  height: 90px;
}
#pageHeader a{
  display: flex;
  align-items: center;
}
#mainBanner {
  height: 90px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

