footer{
  width: 100%;
  height: 50px;
  background-color: #2f2f2f;
  display: flex;
  vertical-align: center;
  margin-top: 40px;
}

.copyrightFooter{
  width: 80%;
  color: #bbb;
  padding-left: 15px;
}

.privacyLink{
  text-decoration: #eee;
  color:#eee;
  align-self: center;
}

@media (max-width: 400px){
  .copyrightFooter, .privacyLink{
    font-size: 70%;
  }
  footer{
    height: auto;
  }
}